# Ignore UE4-generated directories
Binaries
Intermediate
Saved

# Ignore build artifacts
Build
DerivedDataCache

# Ignore Visual Studio data
.vs
*.sln

# Ignore Visual Studio Code data
.vscode
*.code-workspace

# Ignore VIM temporary files
*.swp

# Ignore UE4 Starter Content
Content/StarterContent

# Ignore whatever this temp folder is
enc_temp_folder